body {
  font-family: 'Inter', sans-serif;
  font-family: 'Lexend Deca', sans-serif;
  background-color: hsl(233, 47%, 7%);
  text-align: center;
}

span {
  color: hsl(277, 64%, 61%);
}

#flexContainer {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-content: center;
  background-color: hsl(244, 38%, 16%);
  border-radius: 10px;
  margin-top: 15%;
  margin-bottom: 15%;
  margin-left: 5%;
  margin-right: 5%;
}

img {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

#picture {
  content: url(./images/mobile\ pic\ purple.png);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

#overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

h2 + p {
  text-transform: uppercase;
  margin-top: -15px;
}

h1 + p {
  padding-left: 30px;
  padding-right: 30px;
}

#textPart {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 20px;
}

h2 {
  color: hsl(0, 0%, 100%);
}

p {
  color: hsla(0, 0%, 100%, 0.75);
}

h1 {
  color: hsl(0, 0%, 100%);
}
/* for desktop */

@media (min-width: 600px) {
  #flexContainer {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    overflow: hidden;
  }
  #picture {
    content: url(./images/mobile\ pic\ purple.png);
    border-top-right-radius: 10px;
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
    border-bottom-right-radius: 10px;
    justify-content: flex-start;
  }

  h1,
  h1 + p {
    text-align: left;
    flex-wrap: wrap;
  }

  h1 + p {
    padding-left: 0;
  }

  #stats {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    text-align: left;
    /* justify-content: space-around; */
  }

  #stat1,
  #stat2,
  #stat3 {
    margin-right: 100px;
  }

  #textPart {
    padding: 50px;
  }
}
